:root{
    --theme-color: #EFA110; /* #EFA110 */
    --theme-txt-color: black;
}

::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1ex;
}

::-webkit-scrollbar-thumb{
    background: var(--theme-color);
    border-radius: 1ex;
}

::-webkit-scrollbar-corner{
    background: #000;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body{
    font: 17px Helvetica;
    width: 400px;
    height: 560px;
    color: white;
    background-color: rgb(23, 23, 23);
    background-image: url("/images/Dersim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

button{
    background-color: var(--theme-color);
    color: var(--theme-txt-color);
    border: none;
    outline: none;
    font: 17px Helvetica;
    height: 45px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: 0.2s;
}

button:hover{opacity: 0.8;}

input,select{
    margin: auto;
    font: 17px Helvetica;
    min-width: 150px;
    height: 45px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

#main,#settings{
    overflow-y: auto;
    border-radius: 3px 3px 0px 0px;
    padding: 5px;
    background-color: rgb(23, 23, 23,0.6);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    padding: 10px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 23px 0px var(--theme-color);
}

#settings{display: none;}
#settings select{width: 100%;padding: 5px;}
#btn_settings_on,#btn_settings_off{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 0px 30px;
    font-size: 23px;
    box-shadow: 0px 0px 23px 0px black;
}

#btn_settings_off{display: none;}
#btn_fullscreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 30px 0px;
    font-size: 23px;
    box-shadow: 0px 0px 23px 0px black;
}

.icon{font-size: 23px;}
.ch{border-bottom: 3px solid white;padding-bottom: 3px;}
.sh{display: inline-block;margin-bottom: 5px;}

#input_timer,#input_timer_numpad{width: 99%;text-align: center;display: block;font-size: 20px;}
#input_currency,#input_currency_numpad{width: 99%;text-align: center;display: block;font-size: 20px;}
#div1 button{width: 150px;}
#div2 button{width: 230px;}
#header{width: 150px;margin: auto;height: 45px;text-align: center;background: var(--theme-color);color: var(--theme-txt-color);padding: 5px;border-radius: 0px 0px 30px 30px;box-shadow: 0px 0px 23px 0px black;animation: headerAnim 3s linear;}
#header_text{position: relative;top: 12.5px;font-size: 23px;font-weight: bold;}
#numpad{
    background-color: var(--theme-color);
    position: fixed;
    left: 7%;
    right: 7%;
    bottom: 0;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    display: none;
    z-index: 99;
}
#numpad button{width: 60px;height: 60px;margin: 5px;font-weight: bold;border-radius: 30px;background-color: white;color: var(--theme-color);}

#fill_bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23, 23, 23,0.6);
    transition: 0.2s;
}

@keyframes headerAnim {
    0% {transform: translate(0px,-75px);}
    100% {transform: translate(0px,0px);}
}

@keyframes numpadAnim {
    0% {transform: translate(0px,120%);}
    100% {transform: translate(0px,0px);}
}

@keyframes fullScreenAnim {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);} 
}

@keyframes settingsAnim {
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@media screen and (min-width:900px) {
    #main,#settings{
        width: 50%;
        height: 480px;
    }
    #numpad{
        left: 23%;
        right: 23%;
    }
    #btn_fullscreen{display: none;}
}