:root{
    --theme-color: #EFA110; /* #EFA110 */
    --theme-txt-color: black;
    --theme-font: 18px Helvetica;
    --theme-border-radius: 3px;
}

::-webkit-scrollbar{
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1ex;
}
::-webkit-scrollbar-thumb{
    background: var(--theme-color);
    border-radius: 1ex;
}
::-webkit-scrollbar-corner{
    background: none;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

button{
    background-color: var(--theme-color);
    color: var(--theme-txt-color);
    border: none;
    outline: none;
    font: var(--theme-font);
    height: 45px;
    cursor: pointer;
    border-radius:  var(--theme-border-radius);
    margin-bottom: 5px;
    transition: 0.2s;
}

button:hover{opacity: 0.8;}

input,select{
    margin: auto;
    font: var(--theme-font);
    min-width: 150px;
    height: 45px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:  var(--theme-border-radius);
}