#details_content::-webkit-scrollbar-thumb,#history_content::-webkit-scrollbar-thumb{
    border: 2px solid var(--theme-txt-color);
}

body{
    font: var(--theme-font);
    width: 420px;
    height: 580px;
    color: white;
    background-color: rgb(23, 23, 23);
    background-image: url("/img/Dersim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#main{
    overflow-y: auto;
    border-radius: 3px 3px 0px 0px;
    background-color: rgb(23, 23, 23,0.6);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 85%;
    padding: 10px;
    margin: auto;
    width: 80%;
    box-shadow: 0px 0px 23px 0px black;
}
#fragment2{display: none;}
#new-update{
    display: none;
    background-color: var(--theme-color);
    color: var(--theme-txt-color);
    padding:5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: var(--theme-border-radius);
}
#btn_settings_on,#btn_settings_off{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 0px 30px;
    font-size: 23px;
    box-shadow: 0px 0px 23px 0px black;
}
#btn_settings_off{display: none;}
#btn_fullscreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 30px 0px;
    font-size: 23px;
    box-shadow: 0px 0px 23px 0px black;
}

#input_theme_color{width: 100%;}
#details,#history{
    background-color: var(--theme-color);
    color: var(--theme-txt-color);
    border-radius:  var(--theme-border-radius);
    margin-top: 5px;
    padding: 5px;
}
#details button,#history button{margin-bottom: 0px;}
#details_content{
    display: none;
    padding: 10px;
    max-height: 280px;
    overflow-y: auto;
    text-align: center;
    margin-top: 10px;
}
#history_content{
    display: none;
    padding: 10px;
    max-height: 280px;
    overflow-y: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}
#history_content .border:last-child{display: none;}
.history_host_name{font-size: 15px;}
#btn_show_details,#btn_hide_details,#btn_show_history,#btn_hide_history{width: 100%;}
#btn_hide_details,#btn_hide_history{
    display: none;
    box-shadow: 0px 0px 16px 0px black;
}
#btn_extension_page{
    background-color: var(--theme-adaptive-color);
    color: var(--theme-color);
    width: 100%;
    margin-top: 10px;
}
#btn_clear_history{
    background-color: var(--theme-adaptive-color);
    color: var(--theme-color);
    width: 100%;
    display: none;
}

#div_currency{
    display: flex;
    column-gap: 5px;
    overflow: auto;
    margin: auto;
    text-align: center;
}
#div_currency > *{
    flex: 1;
}

#input_currency_numpad, #input_timer_numpad{border: 2px solid var(--theme-adaptive-color);}
#input_timer,#input_timer_numpad{width: 100%;text-align: center;display: block;font-size: 20px;}
#input_currency,#input_currency_numpad{width: 100%;text-align: center;display: block;font-size: 20px;}

#div_other button{width: 230px;}
#header{width: 150px;margin: auto;height: 45px;text-align: center;background: var(--theme-color);color: var(--theme-txt-color);padding: 5px;border-radius: 0px 0px 30px 30px;box-shadow: 0px 0px 23px 0px black;animation: headerAnim 3s linear;}
#header_text{font-size: 25px;font-weight: bold;}
#numpad{
    background-color: var(--theme-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 350px;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    display: none;
    z-index: 90;
}
#numpad button{width: 60px;height: 60px;margin: 5px;font-weight: bold;border-radius: 30px;background-color: var(--theme-adaptive-color);color: var(--theme-color);}

#fill_bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23, 23, 23,0.8);
    transition: 0.2s;
    z-index: 80;
}

#dialog{
    background-color: var(--theme-color);
    color: var(--theme-txt-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    text-align: center;
    border: 2px solid var(--theme-adaptive-color);
    border-radius: var(--theme-border-radius);
    padding: 10px;
    display: none;
    z-index: 100;
}
#dialog button{
    background-color: var(--theme-adaptive-color);
    color: var(--theme-color);
    width: calc(50% - 3.25px);
    font-weight: bold;
}

@keyframes headerAnim {
    0% {transform: translate(0px,-75px);}
    100% {transform: translate(0px,0px);}
}

@keyframes fullScreenAnim {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);} 
}

@keyframes settingsAnim {
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@media screen and (min-width:900px) {
    #main{
        width: 50%;
        height: 82%;
    }
    #div_other button{width: calc(50% - 3.25px);}
    #btn_fullscreen{display: none;}
    #dialog{width: 600px;}
}
