body{
    font: var(--theme-font);
    background-color: rgb(23, 23, 23);
    color: white;
    margin: 0px;
    height: 100vh;
    background-image: url("/img/Dersim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    background-color: var(--theme-color);
    color: var(--theme-txt-color);
    width: 50%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: var(--theme-border-radius);
}
#main select{display: inline-block; width: calc(33.333% - 3.5px);padding: 5px;border: 2px solid var(--theme-adaptive-color);}
#main button{
    background-color: var(--theme-adaptive-color);
    color: var(--theme-color);
    font-weight: bold;
}
#btn_start_timer{width: 100%;}
#btn_pause_timer,#btn_resume_timer,#btn_reset_timer{width: calc(50% - 1.5px);display: none;}
#timer_text{
    font-size: 8vw;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#fill_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23, 23, 23,0.6);
    transition: 0.2s;
    z-index: -1;
}

@media screen and (max-width:930px) {
    #main select{
        display: block;
        width: 100%;
    }
}