@import "main.css";

body{
    font: var(--theme-font);
    color: white;
    background-color: rgb(23, 23, 23);
    background-image: url("/img/Dersim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    background-color: var(--theme-color);
    text-align: center;
    padding: 10px;
    width: 50%;
    height: 286px;
    transform: translateX(calc(50% - 10px)) translateY(calc(50% - 10px));
    border-radius: var(--theme-border-radius);
}
#main select{width: calc(33.33% - 4px);padding: 5px;}
#main button{
    background-color: white;
    color: var(--theme-color);
}
#btn_start_timer{width: 100%;}
#btn_pause_timer,#btn_resume_timer,#btn_reset_timer{width: calc(50% - 4px);display: none;}

#timer_text{
    font-size: 90px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#fill_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(23, 23, 23,0.8);
    transition: 0.2s;
    z-index: -1;
}